attrs==21.4.0
certifi==2021.10.8
click==8.1.2
click-plugins==1.1.1
cligj==0.7.2
configparser==5.2.0
cycler==0.11.0
descartes==1.1.0
Fiona==1.8.21
fonttools==4.32.0
geopandas==0.8.0
iniconfig==1.1.1
kiwisolver==1.4.2
matplotlib==3.5.1
munch==2.5.0
numpy==1.22.3
packaging==21.3
pandas==1.4.2
Pillow==9.1.0
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.8
pyproj==3.3.0
pytest==7.1.2
python-dateutil==2.8.2
pytz==2022.1
Shapely==1.7.0
six==1.16.0
tomli==2.0.1
