# here the simulation parameters for the SimBEV location tool are set

[region_mode]
csv_name = regions_b.csv

[basic]
# basic parameters
# decide which use cases to run
uc1_hpc = true
uc2_public = false
uc3_home = false
uc4_work = true

# parameters for the use cases
[uc_params]
#radius around fuel station to determine weight
uc1_radius = 900

# weightfactor for different type of use of properties
uc4_weight_retail = 0.8
uc4_weight_commercial = 1.25
uc4_weight_industrial = 1

